.DS_Store
node_modules
*.lock
*.log

/artifacts
/__types__
/cli
/lib
/index.d.ts
/index.js
/index.mjs

/cson2js
/cson2json
/cson2plist
/cson2yaml

/js2cson
/js2json
/js2plist
/js2yaml

/json2cson
/json2js
/json2plist
/json2yaml

/plist2cson
/plist2js
/plist2json
/plist2yaml

/yaml2cson
/yaml2js
/yaml2json
/yaml2plist
