.DS_Store
node_modules
*.lock
*.log

/artifacts
/__types__
/cli
/index.d.ts
/index.js
/index.mjs
/js2json
/js2plist
/js2yaml
/json2js
/json2plist
/json2yaml
/lib
/plist2js
/plist2json
/plist2yaml
/yaml2js
/yaml2json
/yaml2plist
