<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>name</key>
    <string>Svelte Component</string>
    <key>scopeName</key>
    <string>source.svelte</string>
    <key>fileTypes</key>
    <array>
      <string>svelte</string>
    </array>
    <key>uuid</key>
    <string>7582b62f-51d9-4a84-8c8d-fc189530faf6</string>
    <key>injections</key>
    <dict>
      <key>L:meta.script.svelte meta.lang.javascript - (meta source)</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(?&lt;=&gt;)(?!&lt;/)</string>
            <key>end</key>
            <string>(?=&lt;/)</string>
            <key>name</key>
            <string>meta.embedded.block.svelte</string>
            <key>contentName</key>
            <string>source.js</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>source.js</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>L:meta.script.svelte (meta.lang.ts | meta.lang.typescript) - (meta source)</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(?&lt;=&gt;)(?!&lt;/)</string>
            <key>end</key>
            <string>(?=&lt;/)</string>
            <key>name</key>
            <string>meta.embedded.block.svelte</string>
            <key>contentName</key>
            <string>source.ts</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>source.ts</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>L:meta.script.svelte meta.lang.coffee - (meta source)</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(?&lt;=&gt;)(?!&lt;/)</string>
            <key>end</key>
            <string>(?=&lt;/)</string>
            <key>name</key>
            <string>meta.embedded.block.svelte</string>
            <key>contentName</key>
            <string>source.coffee</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>source.coffee</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>L:meta.script.svelte - meta.lang - (meta source)</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(?&lt;=&gt;)(?!&lt;/)</string>
            <key>end</key>
            <string>(?=&lt;/)</string>
            <key>name</key>
            <string>meta.embedded.block.svelte</string>
            <key>contentName</key>
            <string>source.js</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>source.js</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>L:meta.style.svelte meta.lang.stylus - (meta source)</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(?&lt;=&gt;)(?!&lt;/)</string>
            <key>end</key>
            <string>(?=&lt;/)</string>
            <key>name</key>
            <string>meta.embedded.block.svelte</string>
            <key>contentName</key>
            <string>source.stylus</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>source.stylus</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>L:meta.style.svelte meta.lang.sass - (meta source)</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(?&lt;=&gt;)(?!&lt;/)</string>
            <key>end</key>
            <string>(?=&lt;/)</string>
            <key>name</key>
            <string>meta.embedded.block.svelte</string>
            <key>contentName</key>
            <string>source.sass</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>source.sass</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>L:meta.style.svelte meta.lang.css - (meta source)</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(?&lt;=&gt;)(?!&lt;/)</string>
            <key>end</key>
            <string>(?=&lt;/)</string>
            <key>name</key>
            <string>meta.embedded.block.svelte</string>
            <key>contentName</key>
            <string>source.css</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>source.css</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>L:meta.style.svelte meta.lang.scss - (meta source)</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(?&lt;=&gt;)(?!&lt;/)</string>
            <key>end</key>
            <string>(?=&lt;/)</string>
            <key>name</key>
            <string>meta.embedded.block.svelte</string>
            <key>contentName</key>
            <string>source.css.scss</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>source.css.scss</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>L:meta.style.svelte meta.lang.less - (meta source)</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(?&lt;=&gt;)(?!&lt;/)</string>
            <key>end</key>
            <string>(?=&lt;/)</string>
            <key>name</key>
            <string>meta.embedded.block.svelte</string>
            <key>contentName</key>
            <string>source.css.less</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>source.css.less</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>L:meta.style.svelte meta.lang.postcss - (meta source)</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(?&lt;=&gt;)(?!&lt;/)</string>
            <key>end</key>
            <string>(?=&lt;/)</string>
            <key>name</key>
            <string>meta.embedded.block.svelte</string>
            <key>contentName</key>
            <string>source.css.postcss</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>source.css.postcss</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>L:meta.style.svelte - meta.lang - (meta source)</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(?&lt;=&gt;)(?!&lt;/)</string>
            <key>end</key>
            <string>(?=&lt;/)</string>
            <key>name</key>
            <string>meta.embedded.block.svelte</string>
            <key>contentName</key>
            <string>source.css</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>source.css</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>L:meta.template.svelte meta.lang.pug - (meta source)</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(?&lt;=&gt;)(?!&lt;/)</string>
            <key>end</key>
            <string>(?=&lt;/)</string>
            <key>name</key>
            <string>meta.embedded.block.svelte</string>
            <key>contentName</key>
            <string>text.pug</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>text.pug</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>L:meta.template.svelte - meta.lang - (meta source)</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(?&lt;=&gt;)\s</string>
            <key>end</key>
            <string>(?=&lt;/template)</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#scope</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>L:(source.ts, source.js, source.coffee)</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>match</key>
            <string>(?&lt;![_$[:alnum:]])\$(?=[_[:alpha:]][_$[:alnum:]]*)</string>
            <key>name</key>
            <string>punctuation.definition.variable.svelte</string>
          </dict>
          <dict>
            <key>match</key>
            <string>(?&lt;![_$[:alnum:]])(\$\$)(?=props|restProps|slots)</string>
            <key>name</key>
            <string>punctuation.definition.variable.svelte</string>
          </dict>
        </array>
      </dict>
    </dict>
    <key>patterns</key>
    <array>
      <dict>
        <key>include</key>
        <string>#scope</string>
      </dict>
    </array>
    <key>repository</key>
    <dict>
      <key>scope</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#comments</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#special-tags</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#tags</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#interpolation</string>
          </dict>
          <dict>
            <key>begin</key>
            <string>(?&lt;=&gt;|})</string>
            <key>end</key>
            <string>(?=&lt;|{)</string>
            <key>name</key>
            <string>text.svelte</string>
          </dict>
        </array>
      </dict>
      <key>comments</key>
      <dict>
        <key>begin</key>
        <string>&lt;!--</string>
        <key>end</key>
        <string>--&gt;</string>
        <key>captures</key>
        <dict>
          <key>0</key>
          <dict>
            <key>name</key>
            <string>punctuation.definition.comment.svelte</string>
          </dict>
        </dict>
        <key>name</key>
        <string>comment.block.svelte</string>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(@)(component)</string>
            <key>beginCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>punctuation.definition.keyword.svelte</string>
              </dict>
              <key>2</key>
              <dict>
                <key>name</key>
                <string>storage.type.class.component.svelte keyword.declaration.class.component.svelte</string>
              </dict>
            </dict>
            <key>end</key>
            <string>(?=--&gt;)</string>
            <key>contentName</key>
            <string>comment.block.documentation.svelte</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>match</key>
                <string>.*?(?=--&gt;)</string>
                <key>captures</key>
                <dict>
                  <key>0</key>
                  <dict>
                    <key>patterns</key>
                    <array>
                      <dict>
                        <key>include</key>
                        <string>text.html.markdown</string>
                      </dict>
                    </array>
                  </dict>
                </dict>
              </dict>
              <dict>
                <key>include</key>
                <string>text.html.markdown</string>
              </dict>
            </array>
          </dict>
          <dict>
            <key>match</key>
            <string>\G-?&gt;|&lt;!--(?!&gt;)|&lt;!-(?=--&gt;)|--!&gt;</string>
            <key>name</key>
            <string>invalid.illegal.characters-not-allowed-here.svelte</string>
          </dict>
        </array>
      </dict>
      <key>destructuring</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(?={)</string>
            <key>end</key>
            <string>(?&lt;=})</string>
            <key>name</key>
            <string>meta.embedded.expression.svelte source.ts</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>source.ts#object-binding-pattern</string>
              </dict>
            </array>
          </dict>
          <dict>
            <key>begin</key>
            <string>(?=\[)</string>
            <key>end</key>
            <string>(?&lt;=\])</string>
            <key>name</key>
            <string>meta.embedded.expression.svelte source.ts</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>source.ts#array-binding-pattern</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>interpolation</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>\{</string>
            <key>end</key>
            <string>\}</string>
            <key>beginCaptures</key>
            <dict>
              <key>0</key>
              <dict>
                <key>name</key>
                <string>punctuation.section.embedded.begin.svelte</string>
              </dict>
            </dict>
            <key>endCaptures</key>
            <dict>
              <key>0</key>
              <dict>
                <key>name</key>
                <string>punctuation.section.embedded.end.svelte</string>
              </dict>
            </dict>
            <key>contentName</key>
            <string>meta.embedded.expression.svelte source.ts</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>begin</key>
                <string>\G\s*(?={)</string>
                <key>end</key>
                <string>(?&lt;=})</string>
                <key>patterns</key>
                <array>
                  <dict>
                    <key>include</key>
                    <string>source.ts#object-literal</string>
                  </dict>
                </array>
              </dict>
              <dict>
                <key>include</key>
                <string>source.ts</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>special-tags</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#special-tags-void</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#special-tags-block-begin</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#special-tags-block-end</string>
          </dict>
        </array>
      </dict>
      <key>special-tags-keywords</key>
      <dict>
        <key>match</key>
        <string>([#@/:])(else\s+if|[a-z]*)</string>
        <key>captures</key>
        <dict>
          <key>1</key>
          <dict>
            <key>name</key>
            <string>punctuation.definition.keyword.svelte</string>
          </dict>
          <key>2</key>
          <dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>match</key>
                <string>if|else\s+if|else</string>
                <key>name</key>
                <string>keyword.control.conditional.svelte</string>
              </dict>
              <dict>
                <key>match</key>
                <string>each|key</string>
                <key>name</key>
                <string>keyword.control.svelte</string>
              </dict>
              <dict>
                <key>match</key>
                <string>await|then|catch</string>
                <key>name</key>
                <string>keyword.control.flow.svelte</string>
              </dict>
              <dict>
                <key>match</key>
                <string>html</string>
                <key>name</key>
                <string>keyword.other.svelte</string>
              </dict>
              <dict>
                <key>match</key>
                <string>debug</string>
                <key>name</key>
                <string>keyword.other.debugger.svelte</string>
              </dict>
            </array>
          </dict>
        </dict>
      </dict>
      <key>special-tags-modes</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(?&lt;=(if|key|then|catch|html).*?)\G</string>
            <key>end</key>
            <string>(?=})</string>
            <key>name</key>
            <string>meta.embedded.expression.svelte source.ts</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>source.ts</string>
              </dict>
            </array>
          </dict>
          <dict>
            <key>begin</key>
            <string>(?&lt;=each.*?)\G</string>
            <key>end</key>
            <string>(?=})</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>begin</key>
                <string>\G\s*?(?=\S)</string>
                <key>end</key>
                <string>(?=(?:^\s*|\s+)(as))</string>
                <key>contentName</key>
                <string>meta.embedded.expression.svelte source.ts</string>
                <key>patterns</key>
                <array>
                  <dict>
                    <key>include</key>
                    <string>source.ts</string>
                  </dict>
                </array>
              </dict>
              <dict>
                <key>begin</key>
                <string>(as)</string>
                <key>beginCaptures</key>
                <dict>
                  <key>1</key>
                  <dict>
                    <key>name</key>
                    <string>keyword.control.as.svelte</string>
                  </dict>
                </dict>
                <key>end</key>
                <string>(?=})</string>
                <key>patterns</key>
                <array>
                  <dict>
                    <key>include</key>
                    <string>#destructuring</string>
                  </dict>
                  <dict>
                    <key>begin</key>
                    <string>\(</string>
                    <key>end</key>
                    <string>\)|(?=})</string>
                    <key>captures</key>
                    <dict>
                      <key>0</key>
                      <dict>
                        <key>name</key>
                        <string>meta.brace.round.svelte</string>
                      </dict>
                    </dict>
                    <key>contentName</key>
                    <string>meta.embedded.expression.svelte source.ts</string>
                    <key>patterns</key>
                    <array>
                      <dict>
                        <key>include</key>
                        <string>source.ts</string>
                      </dict>
                    </array>
                  </dict>
                  <dict>
                    <key>match</key>
                    <string>(\s*([_$[:alpha:]][_$[:alnum:]]*)\s*)</string>
                    <key>captures</key>
                    <dict>
                      <key>1</key>
                      <dict>
                        <key>name</key>
                        <string>meta.embedded.expression.svelte source.ts</string>
                        <key>patterns</key>
                        <array>
                          <dict>
                            <key>include</key>
                            <string>source.ts</string>
                          </dict>
                        </array>
                      </dict>
                    </dict>
                  </dict>
                  <dict>
                    <key>match</key>
                    <string>,</string>
                    <key>name</key>
                    <string>punctuation.separator.svelte</string>
                  </dict>
                </array>
              </dict>
            </array>
          </dict>
          <dict>
            <key>begin</key>
            <string>(?&lt;=await.*?)\G</string>
            <key>end</key>
            <string>(?=})</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>begin</key>
                <string>\G\s*?(?=\S)</string>
                <key>end</key>
                <string>\s+(then)|(?=})</string>
                <key>endCaptures</key>
                <dict>
                  <key>1</key>
                  <dict>
                    <key>name</key>
                    <string>keyword.control.flow.svelte</string>
                  </dict>
                </dict>
                <key>contentName</key>
                <string>meta.embedded.expression.svelte source.ts</string>
                <key>patterns</key>
                <array>
                  <dict>
                    <key>include</key>
                    <string>source.ts</string>
                  </dict>
                </array>
              </dict>
              <dict>
                <key>begin</key>
                <string>(?&lt;=then\b)</string>
                <key>end</key>
                <string>(?=})</string>
                <key>contentName</key>
                <string>meta.embedded.expression.svelte source.ts</string>
                <key>patterns</key>
                <array>
                  <dict>
                    <key>include</key>
                    <string>source.ts</string>
                  </dict>
                </array>
              </dict>
            </array>
          </dict>
          <dict>
            <key>begin</key>
            <string>(?&lt;=debug.*?)\G</string>
            <key>end</key>
            <string>(?=})</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>match</key>
                <string>[_$[:alpha:]][_$[:alnum:]]*</string>
                <key>captures</key>
                <dict>
                  <key>0</key>
                  <dict>
                    <key>name</key>
                    <string>meta.embedded.expression.svelte source.ts</string>
                    <key>patterns</key>
                    <array>
                      <dict>
                        <key>include</key>
                        <string>source.ts</string>
                      </dict>
                    </array>
                  </dict>
                </dict>
              </dict>
              <dict>
                <key>match</key>
                <string>,</string>
                <key>name</key>
                <string>punctuation.separator.svelte</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>special-tags-void</key>
      <dict>
        <key>begin</key>
        <string>({)\s*((?:[@:])(else\s+if|[a-z]*))</string>
        <key>beginCaptures</key>
        <dict>
          <key>1</key>
          <dict>
            <key>name</key>
            <string>punctuation.definition.block.begin.svelte</string>
          </dict>
          <key>2</key>
          <dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#special-tags-keywords</string>
              </dict>
            </array>
          </dict>
        </dict>
        <key>end</key>
        <string>\}</string>
        <key>endCaptures</key>
        <dict>
          <key>0</key>
          <dict>
            <key>name</key>
            <string>punctuation.definition.block.end.svelte</string>
          </dict>
        </dict>
        <key>name</key>
        <string>meta.special.$3.svelte</string>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#special-tags-modes</string>
          </dict>
        </array>
      </dict>
      <key>special-tags-block-begin</key>
      <dict>
        <key>begin</key>
        <string>({)\s*(#([a-z]*))</string>
        <key>end</key>
        <string>(})</string>
        <key>name</key>
        <string>meta.special.$3.svelte meta.special.start.svelte</string>
        <key>beginCaptures</key>
        <dict>
          <key>1</key>
          <dict>
            <key>name</key>
            <string>punctuation.definition.block.begin.svelte</string>
          </dict>
          <key>2</key>
          <dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#special-tags-keywords</string>
              </dict>
            </array>
          </dict>
        </dict>
        <key>endCaptures</key>
        <dict>
          <key>0</key>
          <dict>
            <key>name</key>
            <string>punctuation.definition.block.end.svelte</string>
          </dict>
        </dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#special-tags-modes</string>
          </dict>
        </array>
      </dict>
      <key>special-tags-block-end</key>
      <dict>
        <key>begin</key>
        <string>({)\s*(/([a-z]*))</string>
        <key>end</key>
        <string>(})</string>
        <key>name</key>
        <string>meta.special.$3.svelte meta.special.end.svelte</string>
        <key>beginCaptures</key>
        <dict>
          <key>1</key>
          <dict>
            <key>name</key>
            <string>punctuation.definition.block.begin.svelte</string>
          </dict>
          <key>2</key>
          <dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#special-tags-keywords</string>
              </dict>
            </array>
          </dict>
        </dict>
        <key>endCaptures</key>
        <dict>
          <key>1</key>
          <dict>
            <key>name</key>
            <string>punctuation.definition.block.end.svelte</string>
          </dict>
        </dict>
      </dict>
      <key>attributes</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#attributes-directives</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#attributes-keyvalue</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#attributes-interpolated</string>
          </dict>
        </array>
      </dict>
      <key>attributes-interpolated</key>
      <dict>
        <key>begin</key>
        <string>(?&lt;!:|=)\s*({)</string>
        <key>end</key>
        <string>(\})</string>
        <key>captures</key>
        <dict>
          <key>1</key>
          <dict>
            <key>name</key>
            <string>entity.other.attribute-name.svelte</string>
          </dict>
        </dict>
        <key>contentName</key>
        <string>meta.embedded.expression.svelte source.ts</string>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>source.ts</string>
          </dict>
        </array>
      </dict>
      <key>attributes-keyvalue</key>
      <dict>
        <key>begin</key>
        <string>([_$[:alpha:]][_\-$[:alnum:]]*)</string>
        <key>beginCaptures</key>
        <dict>
          <key>1</key>
          <dict>
            <key>name</key>
            <string>entity.other.attribute-name.svelte</string>
          </dict>
        </dict>
        <key>end</key>
        <string>(?=\s*+[^=\s])</string>
        <key>name</key>
        <string>meta.attribute.$1.svelte</string>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#attributes-value</string>
          </dict>
        </array>
      </dict>
      <key>attributes-value</key>
      <dict>
        <key>begin</key>
        <string>=</string>
        <key>beginCaptures</key>
        <dict>
          <key>0</key>
          <dict>
            <key>name</key>
            <string>punctuation.separator.key-value.svelte</string>
          </dict>
        </dict>
        <key>end</key>
        <string>(?&lt;=[^\s=])(?!\s*=)|(?=/?&gt;)</string>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#interpolation</string>
          </dict>
          <dict>
            <key>match</key>
            <string>([0-9._]+[\w]{,4})(?=\s|/?&gt;)</string>
            <key>name</key>
            <string>constant.numeric.decimal.svelte</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#interpolation</string>
              </dict>
            </array>
          </dict>
          <dict>
            <key>match</key>
            <string>([^\s"'=&lt;&gt;`/]|/(?!&gt;))+</string>
            <key>name</key>
            <string>string.unquoted.svelte</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#interpolation</string>
              </dict>
            </array>
          </dict>
          <dict>
            <key>begin</key>
            <string>(['"])</string>
            <key>end</key>
            <string>\1</string>
            <key>beginCaptures</key>
            <dict>
              <key>0</key>
              <dict>
                <key>name</key>
                <string>punctuation.definition.string.begin.svelte</string>
              </dict>
            </dict>
            <key>endCaptures</key>
            <dict>
              <key>0</key>
              <dict>
                <key>name</key>
                <string>punctuation.definition.string.end.svelte</string>
              </dict>
            </dict>
            <key>name</key>
            <string>string.quoted.svelte</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#interpolation</string>
              </dict>
            </array>
          </dict>
        </array>
      </dict>
      <key>attributes-directives-keywords</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>match</key>
            <string>on|use|bind</string>
            <key>name</key>
            <string>keyword.control.svelte</string>
          </dict>
          <dict>
            <key>match</key>
            <string>transition|in|out|animate</string>
            <key>name</key>
            <string>keyword.other.animation.svelte</string>
          </dict>
          <dict>
            <key>match</key>
            <string>let</string>
            <key>name</key>
            <string>storage.type.svelte</string>
          </dict>
          <dict>
            <key>match</key>
            <string>class</string>
            <key>name</key>
            <string>entity.other.attribute-name.svelte</string>
          </dict>
        </array>
      </dict>
      <key>attributes-directives-types</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>match</key>
            <string>(?&lt;=(on):).*$</string>
            <key>name</key>
            <string>entity.name.type.svelte</string>
          </dict>
          <dict>
            <key>match</key>
            <string>(?&lt;=(bind):).*$</string>
            <key>name</key>
            <string>variable.parameter.svelte</string>
          </dict>
          <dict>
            <key>match</key>
            <string>(?&lt;=(use|transition|in|out|animate):).*$</string>
            <key>name</key>
            <string>variable.function.svelte</string>
          </dict>
          <dict>
            <key>match</key>
            <string>(?&lt;=(let|class):).*$</string>
            <key>name</key>
            <string>variable.parameter.svelte</string>
          </dict>
        </array>
      </dict>
      <key>attributes-directives-types-assigned</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>match</key>
            <string>(?&lt;=(bind):)this$</string>
            <key>name</key>
            <string>variable.language.svelte</string>
          </dict>
          <dict>
            <key>match</key>
            <string>(?&lt;=(bind):).*$</string>
            <key>name</key>
            <string>entity.name.type.svelte</string>
          </dict>
          <dict>
            <key>match</key>
            <string>(?&lt;=(class):).*$</string>
            <key>name</key>
            <string>entity.other.attribute-name.class.svelte</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#attributes-directives-types</string>
          </dict>
        </array>
      </dict>
      <key>attributes-directives</key>
      <dict>
        <key>begin</key>
        <string>(?&lt;!&lt;)(on|use|bind|transition|in|out|animate|let|class)(:)(?:([_$[:alpha:]][_\-$[:alnum:]]*(?=\s*=))|([_$[:alpha:]][_\-$[:alnum:]]*))((\|\w+)*)</string>
        <key>beginCaptures</key>
        <dict>
          <key>1</key>
          <dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#attributes-directives-keywords</string>
              </dict>
            </array>
          </dict>
          <key>2</key>
          <dict>
            <key>name</key>
            <string>punctuation.definition.keyword.svelte</string>
          </dict>
          <key>3</key>
          <dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#attributes-directives-types-assigned</string>
              </dict>
            </array>
          </dict>
          <key>4</key>
          <dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#attributes-directives-types</string>
              </dict>
            </array>
          </dict>
          <key>5</key>
          <dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>match</key>
                <string>\w+</string>
                <key>name</key>
                <string>support.function.svelte</string>
              </dict>
              <dict>
                <key>match</key>
                <string>\|</string>
                <key>name</key>
                <string>punctuation.separator.svelte</string>
              </dict>
            </array>
          </dict>
        </dict>
        <key>end</key>
        <string>(?=\s*+[^=\s])</string>
        <key>name</key>
        <string>meta.directive.$1.svelte</string>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#attributes-value</string>
          </dict>
        </array>
      </dict>
      <key>tags</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#tags-lang</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#tags-void</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#tags-general-end</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#tags-general-start</string>
          </dict>
        </array>
      </dict>
      <key>tags-name</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>match</key>
            <string>(svelte)(:)([a-z][\w0-9:-]*)</string>
            <key>captures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>keyword.control.svelte</string>
              </dict>
              <key>2</key>
              <dict>
                <key>name</key>
                <string>punctuation.definition.keyword.svelte</string>
              </dict>
              <key>3</key>
              <dict>
                <key>name</key>
                <string>entity.name.tag.svelte</string>
              </dict>
            </dict>
          </dict>
          <dict>
            <key>match</key>
            <string>slot</string>
            <key>name</key>
            <string>keyword.control.svelte</string>
          </dict>
          <dict>
            <key>match</key>
            <string>[A-Z][a-zA-Z0-9_]*</string>
            <key>name</key>
            <string>support.class.component.svelte</string>
          </dict>
          <dict>
            <key>match</key>
            <string>[a-z][\w0-9:]*-[\w0-9:-]*</string>
            <key>name</key>
            <string>meta.tag.custom.svelte entity.name.tag.svelte</string>
          </dict>
          <dict>
            <key>match</key>
            <string>[a-z][\w0-9:-]*</string>
            <key>name</key>
            <string>entity.name.tag.svelte</string>
          </dict>
        </array>
      </dict>
      <key>tags-start-attributes</key>
      <dict>
        <key>begin</key>
        <string>\G</string>
        <key>end</key>
        <string>(?=/?&gt;)</string>
        <key>name</key>
        <string>meta.tag.start.svelte</string>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#attributes</string>
          </dict>
        </array>
      </dict>
      <key>tags-lang-start-attributes</key>
      <dict>
        <key>begin</key>
        <string>\G</string>
        <key>end</key>
        <string>(?=/&gt;)|&gt;</string>
        <key>endCaptures</key>
        <dict>
          <key>0</key>
          <dict>
            <key>name</key>
            <string>punctuation.definition.tag.end.svelte</string>
          </dict>
        </dict>
        <key>name</key>
        <string>meta.tag.start.svelte</string>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#attributes</string>
          </dict>
        </array>
      </dict>
      <key>tags-start-node</key>
      <dict>
        <key>match</key>
        <string>(&lt;)([^/\s&gt;/]*)</string>
        <key>captures</key>
        <dict>
          <key>1</key>
          <dict>
            <key>name</key>
            <string>punctuation.definition.tag.begin.svelte</string>
          </dict>
          <key>2</key>
          <dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#tags-name</string>
              </dict>
            </array>
          </dict>
        </dict>
        <key>name</key>
        <string>meta.tag.start.svelte</string>
      </dict>
      <key>tags-end-node</key>
      <dict>
        <key>match</key>
        <string>(&lt;/)(.*?)\s*(&gt;)|(/&gt;)</string>
        <key>captures</key>
        <dict>
          <key>1</key>
          <dict>
            <key>name</key>
            <string>meta.tag.end.svelte punctuation.definition.tag.begin.svelte</string>
          </dict>
          <key>2</key>
          <dict>
            <key>name</key>
            <string>meta.tag.end.svelte</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#tags-name</string>
              </dict>
            </array>
          </dict>
          <key>3</key>
          <dict>
            <key>name</key>
            <string>meta.tag.end.svelte punctuation.definition.tag.end.svelte</string>
          </dict>
          <key>4</key>
          <dict>
            <key>name</key>
            <string>meta.tag.start.svelte punctuation.definition.tag.end.svelte</string>
          </dict>
        </dict>
      </dict>
      <key>tags-lang</key>
      <dict>
        <key>begin</key>
        <string>&lt;(script|style|template)</string>
        <key>end</key>
        <string>&lt;/\1\s*&gt;|/&gt;</string>
        <key>beginCaptures</key>
        <dict>
          <key>0</key>
          <dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#tags-start-node</string>
              </dict>
            </array>
          </dict>
        </dict>
        <key>endCaptures</key>
        <dict>
          <key>0</key>
          <dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#tags-end-node</string>
              </dict>
            </array>
          </dict>
        </dict>
        <key>name</key>
        <string>meta.$1.svelte</string>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>\G(?=\s*[^&gt;]*?(type|lang)\s*=\s*(['"]|)(?:text/)?(\w+)\2)</string>
            <key>end</key>
            <string>(?=&lt;/|/&gt;)</string>
            <key>name</key>
            <string>meta.lang.$3.svelte</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#tags-lang-start-attributes</string>
              </dict>
            </array>
          </dict>
          <dict>
            <key>include</key>
            <string>#tags-lang-start-attributes</string>
          </dict>
        </array>
      </dict>
      <key>tags-void</key>
      <dict>
        <key>begin</key>
        <string>(&lt;)(area|base|br|col|embed|hr|img|input|link|meta|param|source|track|wbr)(?=\s|/?&gt;)</string>
        <key>beginCaptures</key>
        <dict>
          <key>1</key>
          <dict>
            <key>name</key>
            <string>punctuation.definition.tag.begin.svelte</string>
          </dict>
          <key>2</key>
          <dict>
            <key>name</key>
            <string>entity.name.tag.svelte</string>
          </dict>
        </dict>
        <key>end</key>
        <string>/?&gt;</string>
        <key>endCaptures</key>
        <dict>
          <key>0</key>
          <dict>
            <key>name</key>
            <string>punctuation.definition.tag.begin.svelte</string>
          </dict>
        </dict>
        <key>name</key>
        <string>meta.tag.void.svelte</string>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#attributes</string>
          </dict>
        </array>
      </dict>
      <key>tags-general-start</key>
      <dict>
        <key>begin</key>
        <string>(&lt;)([^/\s&gt;/]*)</string>
        <key>end</key>
        <string>(/?&gt;)</string>
        <key>beginCaptures</key>
        <dict>
          <key>0</key>
          <dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#tags-start-node</string>
              </dict>
            </array>
          </dict>
        </dict>
        <key>endCaptures</key>
        <dict>
          <key>1</key>
          <dict>
            <key>name</key>
            <string>meta.tag.start.svelte punctuation.definition.tag.end.svelte</string>
          </dict>
        </dict>
        <key>name</key>
        <string>meta.scope.tag.$2.svelte</string>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#tags-start-attributes</string>
          </dict>
        </array>
      </dict>
      <key>tags-general-end</key>
      <dict>
        <key>begin</key>
        <string>(&lt;/)([^/\s&gt;]*)</string>
        <key>end</key>
        <string>(&gt;)</string>
        <key>beginCaptures</key>
        <dict>
          <key>1</key>
          <dict>
            <key>name</key>
            <string>meta.tag.end.svelte punctuation.definition.tag.begin.svelte</string>
          </dict>
          <key>2</key>
          <dict>
            <key>name</key>
            <string>meta.tag.end.svelte</string>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#tags-name</string>
              </dict>
            </array>
          </dict>
        </dict>
        <key>endCaptures</key>
        <dict>
          <key>1</key>
          <dict>
            <key>name</key>
            <string>meta.tag.end.svelte punctuation.definition.tag.end.svelte</string>
          </dict>
        </dict>
        <key>name</key>
        <string>meta.scope.tag.$2.svelte</string>
      </dict>
    </dict>
  </dict>
</plist>
